.intro-page {
  margin: 40px;

  .imgCard {
    width: 200px;
    margin-left: 40px;
    padding-right: 0;
    background-color: transparent;
    border: none;
  }

  .contentCard {
    width: 400px;
    //margin-left: 40px;
    background-color: transparent;
    border: none;

    &___desktop {
      width: 800px;
      background-color: transparent;
      border: none;
    }
  }
  .ant-card-head-title {
    font-size: 28px!important;
  }

  .ant-list {
    font-size: 16px;
  }
  .tabList {
    margin-left: 40px;
  }

  .a {

    &___desktop {
      position: absolute;
      right: 40px;
    }
  }
}